@import "./node_modules/bootstrap/scss/bootstrap.scss";

.menu-row {
    padding-top: 2vh;
}

.chat-container {
    border: solid;
    border-width: thin;
    border-color: gainsboro;
    border-radius: 5px;
    padding: 0.5vh;
}