@import "./node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand:hover {
    color: rgb(92, 155, 236)!important;
    cursor: pointer;
};

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@-moz-document url-prefix() {
    .vertical-center {
        -ms-transform: translateY(-50%);
    }
}

.menu-row {
    padding-top: 2vh;
}

.card-header.join-game-card-header {
    padding: 0px;
};

button.join-game-card-button {
    min-width: 100%;  
};

.chat-container {
    border: solid;
    border-width: thin;
    border-color: gainsboro;
    border-radius: 5px;
    padding: 0.5vh;
}

.chat-messages {
    height: 80vh;
}

#chat-form-message {
    overflow-y: scroll;
    height: 5vh;
}

.card.small-card-body > .card-body {
    padding: 8px;
};

.game-pending-container {
    border: solid;
    border-width: thin;
    border-color: gainsboro;
    border-radius: 5px;
    padding: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-pending-container>div {
   flex-basis: auto; 
}

#game-dots {
    width: 512px;
    height:512px;
}